*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
}
body{
    margin: 0 auto;
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(4, 4, 45);
    color: white;
}
.large_container{
    background-image: url(image/images\ \(38\).jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
}
#containt{
    background-color: rgba(2, 3, 49, 0.75);
}
.header_container{
    position: fixed;
    width: 100%;
    max-width: 1440px;
    top: 0;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    backdrop-filter: blur(5px);
    margin: 0;
}
.logo{
    color: white;
    margin: 0 2rem;
    font-weight: 700;
    font-style: oblique;
    letter-spacing: 2px;
    transition: 0.3s ease;
}
.logo:hover{
    text-shadow: 0 0 20px #edf7ff;
    transform: scale(1.08)translateX(5px);
    transition: 0.3s ease;
}
.links a{
    margin-left: 2rem;
    padding: 0.4rem;
    color: white;
    border-bottom: 2px solid transparent;
}
.links a:hover{
    border-bottom: 2px solid #edf7ff;
    color: #edf7ff;
    transition: 0.3s linear;
}
.toggle_area_texts{
    width: 100%;
    display: flex;
    overflow: hidden;
}
.toggle_text_area{
    padding: 3rem;
}
.toggle_text_one{
    margin: 15%;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-size: 1.2rem;
    transition: 0.3s step-start;
}
.toggle_text_one h2{
    margin-bottom: 1.4rem;
    font-weight: 400;
    transition: 0.3s linear;
}

.toggle_btns :nth-child(2){
    background-color: transparent;
    color: white;
    border: 0.5px solid white;
    padding: 0.4rem;
    cursor: pointer;
    transition: 0.5s ease;
}
.toggle_btns :nth-child(1){
    color: white;
    border: 0.5px solid white;
    margin: 0.7rem;
    background-color: #fec600;
    padding: 0.4rem;
    cursor: pointer;
    transition: 0.5s ease;
}
.toggle_btns :nth-child(1):hover{
    background-color: transparent;
    transition: 0.5s ease;
}
.toggle_btns :nth-child(2):hover{
    background-color: #fec600;
    transition: 0.5s ease;
}
.second_toggle{
    display: none;
}
.third_toggle{
    display: none;
}
.second_container{
    background-color: #edf7ff;
    color: #032345;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.second_container .content{
    margin: 10%;
    margin-top: 25%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 0.7rem;
    
}
.content h3{
    margin: 0.7rem 0;
}
.content button{
    border: #032345 0.8px dotted;
    border-radius: 50%;
    padding: 1rem 1.2rem;
    background-color: #032345;
    color: white;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: #032345;
}
::-webkit-scrollbar-track{
    background-color: #edf7ff;
    width: 50px;
}
.menu_icon{
    display: none;
    top: 15px;
    border: #edf7ff solid 3px;
    border-radius: 50%;
    background-color: transparent;
    padding: 0.7rem 1rem;
    color: #edf7ff;
    font-size: 1.7rem;
    right: 20px;
    margin: 0;
    position: absolute;
}
.drop_down_menu{
    transform: translateY(-500px);
    background:hsla(211, 96%, 10%, 0.621);
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
    max-width: 1440px;
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
    padding: 4%;
    transition: 0.4s linear;
}
.drop_down_menu a{
    display: block;
    color: rgb(255, 153, 0);
    margin-bottom: 1rem;
    opacity: 1;
}
.drop_down_menu a:hover{
    opacity: 1;
    background-color: #3e77b0;
}
@media(max-width:846px){
    .header_container{
        padding: 2rem 0 ;
        border-bottom: 0.02px solid #032345;
        background-color: hsla(211, 77%, 7%, 0.452);
    }
    .drop_down{
        display: block;
    }
    .drop_up{
        display: block;
    }
    .links{
        display: none;
    }
    .second_container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:466px){
    .second_container{
        grid-template-columns: repeat(1, 1fr);
    }
}